* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header, footer {
    background-color: darkcyan;
}

header, footer, main {
    max-width: 36rem;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
    border: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

ul {
    text-align: left;
    padding: 1.5em;
    margin: 2em;
    border-bottom: solid;
    border-top: solid;
}

#profile-pic {
    width: 150px;
    height: auto;
}
 h1 {
     color: brown;
 }