* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: grey;
    font-size: 1.5em;
}

footer p,
footer h3 {
    color: black;
}

.star-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero {
    position: relative;
}

.weather{
    position: relative;
}

#hero-text {
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: black;
    padding: .25em;
}

#weather_title{
    position: absolute;
    top: 4px;
    text-align: center;
    width: 100%;
    color: black;
    padding: .25em;
}

.weather_text{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: black;
    padding: .25em;
}

.join_chamber_button:hover {
    background-color: #16437E;
    color: #ffffff;
}

.join_chamber_button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.join_chamber_button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.join_chamber_button {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.join {
    display: none;
}

.join_button{
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.join_button:hover {
    background-color: #16437E;
    color: #ffffff;
}

h1,
h2,
h3 {
    color: #70ddf3;
    font-family: 'Koulen', cursive;
}

a {
    color: #7b63ff;
    font-family: 'Tapestry', cursive;
}

body {
    background-color: #0c0c0c;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

p,
li {
    color: white;
    font-family: 'Libre Bodoni', serif;
}

header {
    display: flex;
    flex-direction: column;
}

#flex-nav {
    display: flex;
}

.main-menu {
    display: block;
    flex-direction: column;
    list-style: none;
    justify-self: flex-end;
    text-align: right;
    flex-grow: 1;
}

#site-name {
    max-width: 100%;
    justify-items: center;
    width: 100%;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
}

.navigation a.ham::before {
    content: "";
}

.navigation a:hover {
    background-color: grey;
    color: black;
}

.responsive li {
    display: block;
}



main {
    display: grid;
    grid-template-columns: 1fr;
}

.hero,
.event,
.weather,
.news,
.spotlight,
.join {
    border: 1px white solid;
    min-height: 10em;
}

#spot1,
#spot2 {
    border: 1px white solid;
    min-height: 5em;
    width: auto;
}

#spot3 {
    display: none;
}

.lower {
    border-top: 1px black solid;
    padding: 1em;
}

#discover-h2 {
    grid-column: 1/5;
}

#gallery {
    grid-column: 1/5;
    margin: 2em;
}

.gallery-item {
    padding: 1em;
}

#visited {
    color: white;
}

form {
    text-align: left;
    width: 100%;
    background-color: white;
}

form fieldset {
    margin: 2rem;
    border: 1px solid blue;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
    color: blue;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: red;
    font-size: .8rem;
}

form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid grey;
    border-radius: 4px;
    padding: .75rem;
    color: darkgray;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, .1);
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: red;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: red solid 6px;
}

form label.top input:required:valid{
    border-left: green solid 6px;
}

.area {
    width: 100%;
    min-height: 10em;
}

.membership {
    margin: .5em;
    grid-column: 1/5;
}

.join-title {
    grid-column: 1/5;
}

@media only screen and (min-width: 37.5em) {
    form {
        grid-column: 1/5;
    }
    picture:hover {
        opacity: .5;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .news {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .spotlight {
        grid-column: 1/4;
        grid-row: 3/4;
        display: flex;
        justify-content: space-around;
    }

    #spot1,
    #spot2,
    #spot3 {
        flex: 1 1 auto;
        margin: 0.25em;
    }

    .join {
        display: block;
        grid-column: 1/4;
        grid-row: 4/5;
    }

    .event {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .weather {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .contact {
        display: flex;
    }

    .address {
        max-width: 100%;
        width: 100%;
        text-align: left;
    }

    .info {
        justify-self: flex-end;
        padding-right: 1em;
    }

}



@media only screen and (min-width: 50em) {
    .main-menu {
        max-width: 100%;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .hero {
        grid-column: 2/4;
        grid-row: 1/3;
    }

    .spotlight {
        grid-column: 4/5;
        grid-row: 1/4;
        flex-direction: column;
    }

    #spot3 {
        display: block;
        border: 1px white solid;
        margin: .25em;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .news {
        grid-column: 2/4;
        grid-row: 3/4;
    }
}